@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* sets background color */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'brandon-grotesque', sans-serif;
  scroll-behavior: smooth;
  background: gray;
  /* background: url("Nik Baby.JPG") no-repeat center center fixed; */
}

/* sets font, text alignment, padding, and display for the home page */
body {
  font-family: "brandon-grotesque", sans-serif;
  text-align: center;
  padding-bottom: 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}



nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: maroon;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 90%;
  background: maroon;
  margin: auto;
}

nav .navbar .logo a {
  color: #fff;
  font-size: 27px;
  text-decoration: none;
}

nav .navbar .menu {
  display: flex;
}

.navbar .menu li {
  list-style: none;
  margin: 0 15px;
}

.navbar .menu li a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}


label {
  font-size: 25px;
}

h {
  font-size: 25px;
  color: white;
}

#questions {
  font-size: 35px;
  color: white;
}

#JakePhone {
  font-size: 25px;
  color: white;
}

p {
  font-size: 25px;
  color: white;
}

.row {
  margin: auto;
  aspect-ratio: 1 / 1;
  background-color: maroon;
  width: 30%;
  min-width: 300px;
  height: auto;
  padding: 2%;
  color: white;
  border: 10px white solid;
  border-radius: 10px;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 40px;
}

#HeadsOfPeerTutor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

img {
  width: 40%;
  height: 40%;
  object-fit: cover;
  object-position: 25% 25%;
}

#thisPage {
  color: gray;
}