/* sets background image */
html {
  background: url("https://abrown111.github.io/peer-tutoring/Photos/Snow%20School.JPG") no-repeat center center fixed;
  background-size: cover;
}

/* Styling for body elements */
body {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 350px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 75px;
  max-width: 60%;
}

/* Styling for heading 1 */
h1 {
  color: maroon;
  font-size: 40px;
}

/* Styling for heading 2 */
h2 {
  color: maroon;
}

/* Styling for sign in words */
#signInWords {
  color: maroon;
  font-size: 20px;
}

/* Styling for sign up button */
#SignUp {
  margin: auto;
  background-color: white;
  border-radius: 50px;
  border-color: maroon;
}

/* Styling for google image in sign up button */
#Google {
  margin-top: 5px;
}