html,
body {
  height: 100%;
  width: 100%;
  /* background-color: maroon;  Set background color */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'brandon-grotesque', sans-serif;
  /* Set font family */
  scroll-behavior: smooth;
  background: url("https://abrown111.github.io/peer-tutoring/Photos/Another%20Sunset.JPG") no-repeat center center fixed;
  /* Set background image */
  background-size: cover;
  /* 1/1000 chance to get a photo of Ron McGinn and David Swett */
}

body {
  font-family: "brandon-grotesque", sans-serif;
  text-align: center;
  padding-bottom: 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.row {

  margin: auto;
  aspect-ratio: 1 / 1;
  background-color: maroon;
  width: 30%;
  min-width: 300px;
  height: auto;
  padding: 2%;
  color: white;
  border: 10px white solid;
  border-radius: 10px;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 40px;
}

#tutor_requests {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


/* sets the size of the tutor profile pictures */
img {
  width: 40%;
  height: 40%;
  object-fit: cover;
  object-position: 25% 25%;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: maroon;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 90%;
  background: maroon;
  margin: auto;
}

nav .navbar .logo a {
  color: #fff;
  font-size: 27px;
  text-decoration: none;
}

nav .navbar .menu {
  display: flex;
}

.navbar .menu li {
  list-style: none;
  margin: 0 15px;
}

.navbar .menu li a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

#thisPage {
  color: gray;
}